# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage reports
.coverage
htmlcov/
.coverage.*

# Virtual environments
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Python egg metadata
*.egg-info/
dist/
build/